# NetBeans specific #
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IntelliJ specific #
*.iml

.*

# Allow Travis config file #
!.travis.yml

# Class Files #
*.class

# Package Files #
*.war
*.ear
bin/
target/

MLFeatureModelConfig/configs/
